body{
    background-color: rgb(41, 40, 39);

}
.card{
    background:linear-gradient(135deg, #00feba, #5b548a);
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    border-color: #555;
    color: antiquewhite;

}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search-icon{
        width: 20px; 
        height: 20px; 

    
}
.inputField{
    border-radius: 30px;
    padding: 15px;
    font-size: medium;
    flex: 1;
    color: #555;
}
.searchButton{
   border-radius: 40px;
   width: 60px;
   height: 60px;
   padding: 10px;
   margin-left: 10px;

}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 400;
   
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top: 50px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: medium;
    margin-top: 20px;
    display: none;
}